.vending-machine-container {
    background-color: lightgrey;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    flex-wrap: wrap;
}

.products-list {
    flex: 1 1 100%;

    @media (min-width: 992px) {
        flex: 1 1 75%;
        margin-right: 48px;
    }
}

.sidebar {
    flex: 1 1 100%;
    @media (min-width: 992px) {
        flex: 1 1 20%;
    }
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product {
        flex: 0 1 30%;
        margin-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        padding: 8px;

        .product-title {
            flex: 1 1 100%;
            text-align: center;
            margin: 4px 0;
        }

        .product-price {
            flex: 1 1 100%;
            text-align: center;
            margin: 4px 0;
        }

        .product-count {
            flex: 1 1 100%;
            text-align: center;
            margin: 4px 0;
        }

        .product-selection-number {
            flex: 1 1 100%;
            text-align: center;
            margin: 4px 0;
        }
    }
}

.credit-manager-container {
    margin-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .credit-display {
        width: 100%;
        text-align: center;
    }
}

.keypad-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .selection-key {
        flex: 0 1 30%;
    }

    .selected-key {
        width: 100%;
    }

    .display-message {
        width: 100%;
        text-align: center;
    }
}

.credit-button,
.selection-key,
.buy-button,
.reset-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin-bottom: 16px;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}
.credit-button:hover,
.selection-key:hover,
.buy-button:hover,
.reset-button:hover {
    color: #000000;
    background-color: #ffffff;
}
